@{
    ViewData["Title"] = "Colaboradores";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-name" content="mono" />

    <title>Mono - Responsive Admin & Dashboard Template</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="~/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/plugins/simplebar/simplebar.css" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link href="~/plugins/nprogress/nprogress.css" rel="stylesheet" />

    <link href="~/plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />

    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- MONO CSS -->
    <link id="main-css-href" rel="stylesheet" href="~/css/style.css" />

    <!-- FAVICON -->
    <link href="~/images/favicon.png" rel="shortcut icon" />

    <script src="~/plugins/nprogress/nprogress.js"></script>
</head>


<body class="navbar-fixed sidebar-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>


    <!-- ====================================
    ——— WRAPPER
    ===================================== -->
    <div class="wrapper">


        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
                <!-- Aplication Brand -->
                <div class="app-brand">
                    <a href="@Url.Action("Privacy", "Home")">
                        @* <img src="Images/Logo.png"> *@
                        <span class="brand-name">RG Advisory Group</span>


                    </a>
                </div>
                <!-- begin sidebar scrollbar -->
                <div class="sidebar-left" data-simplebar style="height: 100%;">
                    <!-- sidebar menu -->
                    <ul class="nav sidebar-inner" id="sidebar-menu">
                        <li>
                            <a class="sidenav-item-link" href="@Url.Action("Principal", "Home")">
                                <i class="mdi mdi-home-circle"></i>
                                <span class="nav-text">Principal</span>
                            </a>
                        </li>

                        <li class="active">
                            <a class="sidenav-item-link" href="@Url.Action("List", "Employee")">
                                <i class="mdi mdi-briefcase-account-outline"></i>
                                <span class="nav-text">Colaboradores</span>
                            </a>
                        </li>

                        <li>
                            <a class="sidenav-item-link" href="@Url.Action("", "Log")">
                                <i class="mdi mdi-chart-line"></i>
                                <span class="nav-text">Métricas</span>
                            </a>
                        </li>

                        <li class="section-title">
                            Funciones
                        </li>

                        <li>
                            <a class="sidenav-item-link" href="@Url.Action("List", "Customer")">
                                <i class="mdi mdi-account"></i>
                                <span class="nav-text">Clientes</span>
                            </a>
                        </li>

                        <li class="has-sub">
                            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#email"
                               aria-expanded="false" aria-controls="email">

                                <i class="mdi mdi-square-edit-outline"></i>
                                <span class="nav-text">Asiento</span><b class="caret"></b>
                            </a>

                            <ul class="collapse sub-menu" id="email" data-parent="#sidebar-menu">

                                <li>
                                    <a class="sidenav-item-link" href="@Url.Action("Create", "Seat")">
                                        <span class="nav-text">Crear</span>

                                    </a>
                                </li>

                                <li>
                                    <a class="sidenav-item-link" href="@Url.Action("List", "Seat")">
                                        <span class="nav-text">Listar</span>

                                    </a>
                                </li>

                            </ul>

                        </li>

                        <li>
                            <a class="sidenav-item-link" href="@Url.Action("", "Report")">
                                <i class="mdi mdi-folder-outline"></i>
                                <span class="nav-text">Reportes</span>
                            </a>
                        </li>

                        <li>
                            <a class="sidenav-item-link" href="@Url.Action("Account", "Catalog")">
                                <i class="mdi mdi-file-multiple"></i>
                                <span class="nav-text">Catálogo De Cuentas</span>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="sidebar-footer">
                    <div class="sidebar-footer-content">
                    </div>
                </div>
            </div>
        </aside>



        <!-- ====================================
        ——— PAGE WRAPPER
        ===================================== -->
        <div class="page-wrapper">

            <!-- Header -->
            <header class="main-header" id="header">
                <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
                    <!-- Sidebar toggle button -->
                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>

                    <span class="page-title">Colaboradores</span>

                    <div class="navbar-right ">
                    </div>

                    <ul class="nav navbar-nav">

                        <!-- User Account -->

                        <li class="dropdown-footer">
                            <a class="dropdown-link-item" onclick="logout()"> <i class="mdi mdi-logout"></i> Salir </a>
                        </li>
                    </ul>

                </nav>
            </header>

            <!-- ====================================
            ——— CONTENT WRAPPER
            ===================================== -->

            <div class="content-wrapper">
                <div>
                    <div class="card card-default">
                        <div class="card-header align-items-center px-3 px-md-5">
                            <h2>Colaboradores</h2>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-contact">
                                Agregar Colaborador
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body px-3 px-md-5">
                    <div class="row" id="employee-cards">
                        <!-- Las tarjetas se cargarán aquí dinámicamente -->
                    </div>
                </div>
            </div>

            <!-- Modal para mostrar la información del Colaborador -->
            <div class="modal fade" id="modal-contact-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-end border-bottom-0">
                            <button type="button" class="btn-edit-icon" data-dismiss="modal" aria-label="Close">
                            </button>


                            <button type="button" class="btn-close-icon" data-dismiss="modal" aria-label="Close">
                                <i class="mdi mdi-close"></i>
                            </button>
                        </div>

                        <div class="modal-body pt-0">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <div class="profile-content-left px-4">
                                        <div class="card text-center px-0 border-0">

                                            <div class="card-body">
                                                <h4 class="py-2" id="employee-name-new"></h4>
                                                <button type="button" class="btn btn-smoke btn-pill btn-delete-new" data-dismiss="modal" data-employee-id="">
                                                    Eliminar
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="contact-info px-4">
                                        <h4 class="mb-1">Detalles colaborador</h4>
                                        <p class="text-dark font-weight-medium pt-4 mb-2">Nombre</p>
                                        <p id="employee-first-name-new"></p>
                                        <p class="text-dark font-weight-medium pt-4 mb-2">Apellidos</p>
                                        <p id="employee-last-name-new"></p>
                                        <p class="text-dark font-weight-medium pt-4 mb-2">Usuario</p>
                                        <p id="employee-username-new"></p>
                                        <p class="text-dark font-weight-medium pt-4 mb-2">Correo eletrónico</p>
                                        <p id="employee-email-address-new"></p>
                                        <p class="text-dark font-weight-medium pt-4 mb-2">Contraseña</p>
                                        <p id="employee-password-new"></p>
                                        <p class="text-dark font-weight-medium pt-4 mb-2">ID</p>
                                        <p id="employee-id-new"></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Agregar Colaborador  -->
            <div class="modal fade" id="modal-add-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <form id="addemployeeForm">
                            <div class="modal-header px-4">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Colaborador</h5>
                            </div>
                            <div class="modal-body px-4">
                                <div class="row mb-2">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="firstName">Nombre</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="lastName">Apellidos</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="username">Usuario</label>
                                            <input type="text" class="form-control" id="username" name="username" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="emailAddress">Correo electrónico</label>
                                            <input type="text" class="form-control" id="emailAddress" name="emailAddress" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="password">Contraseña</label>
                                            <input type="text" class="form-control" id="password" name="password" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer px-4">
                                <button type="button" class="btn btn-smoke btn-pill" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary btn-pill" onclick="addemployee()" data-dismiss="modal">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal de edición -->
            <div class="modal fade" id="modal-edit-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <form id="edit-employee-form">
                            <div class="modal-header px-4">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Editar Colaborador</h5>
                            </div>
                            <div class="modal-body px-4">
                                <div class="row mb-2">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="edit-firstName">Nombre</label>
                                            <input type="text" class="form-control" id="edit-firstName">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="edit-lastName">Apellidos</label>
                                            <input type="text" class="form-control" id="edit-lastName">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="edit-username">Usuario</label>
                                            <input type="text" class="form-control" id="edit-username" name="edit-username">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="edit-emailAddress">Correo electrónico</label>
                                            <input type="email" class="form-control" id="edit-emailAddress" name="edit-emailAddress">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="edit-password">Contraseña</label>
                                            <input type="text" class="form-control" id="edit-password" name="edit-password">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer px-4">
                                <button type="button" class="btn btn-smoke btn-pill" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary btn-pill" onclick="editEmployee()" data-dismiss="modal">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer mt-auto">
                <div class="copyright bg-white">
                    <p>
                        &copy; <span id="copy-year"></span> Copyright RG Advisory Group
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/simplebar/simplebar.min.js"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>


    <script src="~/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>


    <script src="~/js/mono.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js"></script>

   
    <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;
    </script>


    <script src="~/scripts/employee.js"></script>
    <script src="~/scripts/shared.js"></script>
</body>
</html>

